In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Formk-filings.csv')

In [4]:
numeric_columns = ['Total Revenue', 'Net Income', 'Total Assets', 'Total Liabilities', 'Cash Flow(Operating)']
df[numeric_columns] = df[numeric_columns].replace('[\$,]', '', regex=True).astype(float)

<>:2: SyntaxWarning: invalid escape sequence '\$'
<>:2: SyntaxWarning: invalid escape sequence '\$'
/var/folders/qf/t_vz01x14sv9g964tyl6r9_00000gn/T/ipykernel_9934/1548248204.py:2: SyntaxWarning: invalid escape sequence '\$'
  df[numeric_columns] = df[numeric_columns].replace('[\$,]', '', regex=True).astype(float)

In [5]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100

In [6]:
df.head()

,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow(Operating),FY,Revenue Growth (%),Net Income Growth (%)
0,Microsoft,211915.0,72361.0,411976.0,205754.0,87582.0,2023,NaN,NaN
1,Microsoft,198270.0,72738.0,364840.0,198298.0,89035.0,2022,-6.438902,0.520999
2,Microsoft,168088.0,61271.0,333779.0,191791.0,76740.0,2021,-15.222676,-15.764800
3,Tesla,96773.0,15215.0,106618.0,43009.0,13256.0,2023,NaN,NaN
4,Tesla,81462.0,12141.0,82338.0,36440.0,14724.0,2022,-15.821562,-20.203746

In [16]:
df.fillna(0, inplace = True)

In [17]:
df.head()

,Company,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow(Operating),FY,Revenue Growth (%),Net Income Growth (%)
0,Microsoft,211915.0,72361.0,411976.0,205754.0,87582.0,2023,0.000000,0.000000
1,Microsoft,198270.0,72738.0,364840.0,198298.0,89035.0,2022,-6.438902,0.520999
2,Microsoft,168088.0,61271.0,333779.0,191791.0,76740.0,2021,-15.222676,-15.764800
3,Tesla,96773.0,15215.0,106618.0,43009.0,13256.0,2023,0.000000,0.000000
4,Tesla,81462.0,12141.0,82338.0,36440.0,14724.0,2022,-15.821562,-20.203746

## Financial Analysis Summary

### Revenue Growth:
- Microsoft:
  - Experienced a decrease in revenue from 2021 to 2022 (approximately -16.0%).
  - Further declined in revenue from 2022 to 2023 (approximately -6.3%).
- Tesla:
  - Demonstrated an increase in revenue from 2021 to 2022 (approximately +51.3%).
  - Continued growth in revenue from 2022 to 2023 (approximately +18.9%).
- Apple:
  - Saw a slight decline in revenue from 2021 to 2022 (approximately -7.0%).
  - Showed a modest increase in revenue from 2022 to 2023 (approximately +3.0%).

### Net Income Growth:
- Microsoft:
  - Witnessed a decrease in net income from 2021 to 2022 (approximately -15.6%).
  - Maintained a relatively stable net income from 2022 to 2023 (approximately -0.5%).
- Tesla:
  - Experienced a significant increase in net income from 2021 to 2022 (approximately +132.6%).
  - Sustained growth in net income from 2022 to 2023 (approximately +25.3%).
- Apple:
  - Demonstrated a slight decrease in net income from 2021 to 2022 (approximately -5.3%).
  - Showed a slight increase in net income from 2022 to 2023 (approximately +2.8%).

### Overall Trends:
- Microsoft:
  - Experienced declining revenue and relatively stable net income.
- Tesla:
  - Demonstrated robust revenue and net income growth over the period.
- Apple:
  - Saw mixed results with slight fluctuations in revenue and net income.

These trends indicate varying performances among the companies analyzed, with Tesla showing significant growth, Microsoft experiencing some challenges, and Apple demonstrating stability with minor fluctuations.

In [14]:
# Function to calculate average
def calculate_average(data):
    # Calculate average for each metric
    average_data = {
        "Total Revenue": data["Total Revenue"].mean(),
        "Net Income": data["Net Income"].mean(),
        "Total Assets": data["Total Assets"].mean(),
        "Total Liabilities": data["Total Liabilities"].mean(),
        "Cash Flow (Operating)": data["Cash Flow(Operating)"].mean()
    }
    return average_data

# Group by company and calculate average for each company
grouped_df = df.groupby("Company")
for company, group in grouped_df:
    average_data = calculate_average(group)
    print(f"{company}:")
    for metric, value in average_data.items():
        print(f"- Average {metric}: ${value:,.2f}")

Apple:
- Average Total Revenue: $381,143.33
- Average Net Income: $97,159.33
- Average Total Assets: $352,113.33
- Average Total Liabilities: $293,477.33
- Average Cash Flow (Operating): $112,244.00
Microsoft:
- Average Total Revenue: $192,757.67
- Average Net Income: $68,790.00
- Average Total Assets: $370,198.33
- Average Total Liabilities: $198,614.33
- Average Cash Flow (Operating): $84,452.33
Tesla:
- Average Total Revenue: $77,352.67
- Average Net Income: $10,855.33
- Average Total Assets: $83,695.67
- Average Total Liabilities: $36,663.67
- Average Cash Flow (Operating): $13,159.00

### Average Financial Metrics by Company:

### Observations:

- Microsoft shows a consistent increase in Total Revenue, Net Income, Total Assets, Total Liabilities, and Cash Flow (Operating) over the years.
- Tesla demonstrates significant growth in Total Revenue and Net Income, with a notable increase in Total Assets and Total Liabilities.
- Apple maintains a high level of Total Revenue and Net Income, with relatively stable Total Assets and Total Liabilities.

### Comparative Analysis:

- Microsoft has the highest Average Total Revenue and Average Cash Flow (Operating) among the three companies.
- Apple has the highest Average Net Income and Average Total Assets.
- Tesla has the lowest Average Total Revenue, Net Income, and Total Assets among the three companies.

### Conclusion:

- Microsoft exhibits strong financial performance with consistent growth across various metrics.
- Tesla shows remarkable growth potential but may face challenges with its relatively lower average financial metrics compared to Microsoft and Apple.
- Apple remains a dominant player in the market with high levels of revenue, net income, and asset base, indicating stability and strong market presence.

In [18]:
total_revenue_by_company = df.groupby("Company")["Total Revenue"].sum()

print("Total Revenue for Each Company Across All Years:")
print(total_revenue_by_company)

Total Revenue for Each Company Across All Years:
Company
Apple        1143430.0
Microsoft     578273.0
Tesla         232058.0
Name: Total Revenue, dtype: float64

In [23]:
# Group by company and year, then calculate the trend in total assets
trend_total_assets = df.groupby(["Company", "FY"])["Total Assets"].mean().unstack()

print("Trend in Total Assets Over the Three Years for Each Company:")
print(trend_total_assets)

Trend in Total Assets Over the Three Years for Each Company:
FY             2021      2022      2023
Company
Apple      351002.0  352755.0  352583.0
Microsoft  333779.0  364840.0  411976.0
Tesla       62131.0   82338.0  106618.0

In [25]:
# Filter the DataFrame for the latest fiscal year
latest_year_data = df[df["FY"] == df["FY"].max()]

# Compare operating cash flow across companies for the latest fiscal year
operating_cash_flow_latest_year = latest_year_data[["Company", "Cash Flow(Operating)"]].set_index("Company")

print("Operating Cash Flow for the Latest Fiscal Year:")
print(operating_cash_flow_latest_year)

Operating Cash Flow for the Latest Fiscal Year:
           Cash Flow(Operating)
Company
Microsoft               87582.0
Tesla                   13256.0
Apple                  110543.0

In [32]:
# Calculate the debt ratio for each company across all years
df["Debt Ratio"] = df["Total Liabilities"] / df["Total Assets"]

print("Debt Ratio for Each Company Across All Years:")
print(df[["Company", "Debt Ratio"]])

Debt Ratio for Each Company Across All Years:
     Company  Debt Ratio
0  Microsoft    0.499432
1  Microsoft    0.543520
2  Microsoft    0.574605
3      Tesla    0.403393
4      Tesla    0.442566
5      Tesla    0.491574
6      Apple    0.823741
7      Apple    0.856354
8      Apple    0.820257

In [28]:
# Defining the predefined queries and corresponding responses
queries_responses = {
    "1": ("What is the total revenue of each company?", total_revenue_by_company),
    "2": ("What is the trend in total assets over the three years for each company?", trend_total_assets),
    "3": ("How does the operating cash flow compare across companies for the latest fiscal year?", operating_cash_flow_latest_year),
    "4": ("What is the debt ratio for each company across all years?", df[["Company", "Debt Ratio"]])
}

# Display the menu options to the user
print("Select a query:")
for key, value in queries_responses.items():
    print(f"{key}: {value[0]}")

# Get user input
user_input = input("Enter the query number: ")

# Check if the input query number is valid
if user_input in queries_responses:
    query, response = queries_responses[user_input]
    print(f"\nQuery: {query}\n")
    print(response)
else:
    print("Invalid query number. Please select a valid query number.")

Select a query:
1: What is the total revenue of each company?
2: What is the trend in total assets over the three years for each company?
3: How does the operating cash flow compare across companies for the latest fiscal year?
4: What is the debt ratio for each company across all years?

Enter the query number:  4

Query: What is the debt ratio for each company across all years?

     Company  Debt Ratio
0  Microsoft    0.499432
1  Microsoft    0.543520
2  Microsoft    0.574605
3      Tesla    0.403393
4      Tesla    0.442566
5      Tesla    0.491574
6      Apple    0.823741
7      Apple    0.856354
8      Apple    0.820257

**Chatbot Overview:**

This chatbot is designed to provide responses to predefined queries related to financial data of companies which is Microsoft, Apple and Tesla. It allows users to select a query from a menu and receive the corresponding response.

**Predefined Queries:**

1. **Total Revenue by Company:** This query provides the total revenue of each company.
2. **Trend in Total Assets:** It shows the trend in total assets over the three years for each company.
3. **Operating Cash Flow Comparison:** This query compares the operating cash flow across companies for the latest fiscal year.
4. **Debt Ratio by Company:** It gives the debt ratio for each company across all years.

**How It Works:**

1. The predefined queries along with their corresponding responses are stored in a dictionary called `queries_responses`.
2. The chatbot displays the menu options to the user, showing the query numbers and their descriptions.
3. It prompts the user to enter a query number.
4. If the input query number is valid, it retrieves the query description and response from the `queries_responses` dictionary and displays them to the user.
5. If the input query number is invalid, it informs the user about it.

**Limitations:**

1. The chatbot is limited to responding to predefined queries and cannot handle arbitrary questions.
2. It assumes that the financial data required for the queries is readily available in the DataFrame.
3. It may not handle errors or unexpected inputs gracefully, providing limited error handling.

This chatbot serves as a tool to quickly access specific financial insights for companies without needing to manually analyze the data.